:root {
    
    --color1: #0077FF;
    --color2: #3D2C8D;
    --color3: #FF6B6B;
    --color4: #222831;
    --color5: #1b1f27;

    background-color: var(--color4);
    margin: 0;
}

body {
    margin: 0;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color5);
}

.nav-list li {
    float: left;
    color: var(--color1);
    font-family: sans-serif;
    font-weight: 700;
}

.nav-list li a {
    display: block;
    color: var(--color1);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-list li a:hover {
    background-color: var(--color4);
}

.title {
    padding: 10px;
    margin: 0;
    margin-top: 0px;
    background-color: var(--color5);
    color: var(--color1);
    font-weight: 700;
    box-shadow: 0px 2px #191d25;
    margin-bottom: 20px;
    font-family: sans-serif;
    text-shadow: 0.5px 0.5px #003a7c;
}

.logo {
    margin: 0;
    padding: 0px;
    display: inline;
    height: 1.5em;
    text-align: left;
}

.section {
    margin: 0;
    padding: 0;
    color: rgb(235, 235, 235);
}

.left {
    background-color: var(--color5);
    float: left;
    width: 50%;
}

.right {
    background-color: var(--color5);
    float: right;
    width: 50%;
}
